.home-screen {
    background-image: url("https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");   
    background-size: cover;
    height: 100vh;
    background-position: 50%;
    position: relative;
}
.home-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 36rem;
    padding: 8rem .5rem;
}

.home-heading{
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
}

.home-para {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: center; 
    color: #fff; 
    margin: 1.5rem 0; 
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}